
table {
    margin-top: 15px;
  }
  
  .img-circle {
    max-height: 50px;
  }
  
  td{
      vertical-align: middle;
  }
  /* .table > tbody > tr > td {
    vertical-align: middle;
  } */
  .container , .mt-5{
    padding-top: 50px;
  }
  